---
title: Home
description: Journal of our world trip on MS Flight Simulator 2020
image: 'https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png'
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Around the world in MS Flight Simulator 2020
			</h1>
			<p class="subtext editable">
				
			</p>
			<div class="cta button alt"><a href="/blog">Read Now</a></div>
		</div>
	</div>
	<!--<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>-->
</section>

<!--<div class="content">-->
<!--	<section class="info" id="learn-more">-->
<!--		<div class="container flex">-->
<!--			<div class="text">-->
<!--				<h2 class="editable">-->
					
<!--				</h2>-->
<!--				<p class="editable">-->
					
<!--				</p>-->
<!--			</div>-->
<!--			<div class="image">-->
<!--				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section class="info">-->
<!--		<div class="container flex">-->
<!--			<div class="text">-->
<!--				<h2 class="editable">-->
					
<!--				</h2>-->
<!--				<p class="editable">-->
					
<!--				</p>-->
<!--			</div>-->
<!--			<div class="image">-->
<!--				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section class="info">-->
<!--		<div class="container flex">-->
<!--			<div class="text">-->
<!--				<h2 class="editable">-->
					
<!--				</h2>-->
<!--				<p class="editable">-->
					
<!--				</p>-->
<!--			</div>-->
<!--			<div class="image">-->
<!--				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">-->
<!--		<div class="inner-hero text-container">-->
<!--			<div class="hero-text-container">-->
<!--				<h2 class="editable">-->
					
<!--				</h2>-->
<!--				<p class="subtext editable">-->
					
<!--				</p>-->
<!--				<div class="cta button alt"><a href="#">Join Now</a></div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!--</div>-->
